body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.hovered {
    background-color: red;
}

.info {
    font-weight: initial;
    font-size: 20px;
    width: 34px;
    height: 34px;
    border: none;
}

.horizontal {
    margin-bottom: 3px;
}

.vertical {
    margin-right: 3px;
}

.horizontal.vertical {
    font-style: italic;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

li {
    list-style-type: none;
    margin: 5px 0;
}

li button {
    width: 250px;
    text-align: left;
}

.sort {
    border: none;
    width: initial;
}

.sort:hover {
    .order {
        background-color: red;
    }
}

.alert {
    animation: fadeIn 500ms linear;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: red;
}

.alert h1, .alert h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alert h3 {
    top: 60%;
}

.click-me {
    background-color: red;
    width: 80px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 450px;
}

.red {
    background-color: red;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}